<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add_Circuits</title>
</head>
<body>
    <h1> Add Circuits </h1>
    <form class="ui form" method = post>
     <div class="field">
        <label>ID</label>
        <input type="int" name="id" placeholder="Id">
      </div>
      <div class="field">
        <label>CircuitRef</label>
        <input type="text" name="circuitRef" placeholder="Ref">
      </div>
      <div class="field">
        <label>name</label>
        <input type="text" name="name" placeholder="Circuit_name">
      </div>
      <div class="field">
        <label>loc</label>
        <input type="text" name="location" placeholder="loc">
      </div>
      <div class="field">
        <label>country</label>
        <input type="text" name="country" placeholder="country">
      </div>
      <div class="field">
        <label>lat</label>
        <input type="double" name="lat" placeholder="lat">
      </div>
      <div class="field">
        <label>lng</label>
        <input type="double" name="lng" placeholder="lng">
      </div>
      <div class="field">
        <label>alt</label>
        <input type="text" name="alt" placeholder="alt">
      </div>
      <div class="field">
        <label>URL</label>
        <input type="text" name="url" placeholder="url">
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
</body>
</html>